
html{
    background: #eee;
}
body{
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

input{
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

.cuerpo{
    width: 80%;
    margin: auto;
    background-color: #2d3f98;
    padding: 15px;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
}

.titulo{
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center; 
    color: #ffffff;
}

.intro{
    color: #dedede;
    text-align: center;
}

.numero{
    background-color: #ffffff;
    color: #2c2c2c;
    line-height: normal;
    font-size: .8571em;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: .1875rem;
}

input:focus {
    outline:0px;
}

input{
    padding: 10px 18px 10px 18px;
}
.completo{
    display: table;
    margin: auto;
}

.boton{
    border-width: 2px;
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: .1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #ffffff3b;
    color: #fff;
    margin-left: 15px
}

.alerta{
    display: block;
    color: #fff;
    font-weight: 600;
    background: #d61212;
    padding: 15px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.alerta-error{
    display: none;
}

.listado{
    display: table;
    margin: auto;
}

.unidad{
    float: left;
    display: block;
    padding: 22px 30px;
    text-align: center;
    background: #fff;
    margin: 10px;
    border-radius: 4px;
}

.lista_numeros, .ordenados_numeros{
    width: 60%;
    margin: 30px auto;
}

.ordenar, .limpiar{
    display: none;
    margin: auto;
}

